# ## Question 1

In [1]:
name=input("Enter your name : ")
rno=int(input("Enter the roll number : "))
m=int(input("Enter the mark : "))
print('\nName :',name)
print('Roll number :',rno)
print('Mark :',m)

Enter your name : chinchu
Enter the roll number : 21
Enter the mark : 80

Name : chinchu
Roll number : 21
Mark : 80

# #Question 2

In [2]:
c=float(input('enter temperature in celcius: '))
print('temperature in fahrenheit is', c*(9/5)+32)

enter temperature in celcius: 8
temperature in fahrenheit is 46.4

# # Question 3

In [3]:
a=int(input('Enter the first number : '))
b=int(input('Enter the second number : '))
print('The product is :',a*b)

Enter the first number : 8
Enter the second number : 7
The product is : 56

# # Question 4

In [44]:
st=input('Enter String : ')
print('\n')
for word in st.split():
    print(word+'**',end='')

Enter String : Learn Python by developing a website


Learn**Python**by**developing**a**website**

# # Question 5

In [4]:
import math
r=int(input('Enter the radius of circle : '))
print('The area of circle is :',math.pi*r*r)

Enter the radius of circle : 4
The area of circle is : 50.26548245743669

# # Question 6

In [5]:
li=[1,2,3,4,5]
i=int(input('Enter the position : '))
num=int(input('Enter the number : '))
x=len(li)
if i<x:

    li.insert(i,num)
li

Enter the position : 3
Enter the number : 2

[1, 2, 3, 2, 4, 5]

# # Question 7

In [6]:
dic={'name':'John','age':5,'salary':8000,'city':'New York'}
print('Before changing key\n',dic)
dic['loc']=dic['city']
del dic['city']
print('\nAfter changing the key\n',dic)

Before changing key
 {'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}

After changing the key
 {'name': 'John', 'age': 5, 'salary': 8000, 'loc': 'New York'}

# # Question 8

In [7]:
di={'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}}
print('before update\n',di)
di['emp3']['salary']=8500
print('\nafter update\n',di)

before update
 {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}

after update
 {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# # Queation 9

In [8]:
t=(10,20,43,54,56,68)
t1=(t[2],t[3])
t1

(43, 54)

# # Question 10

In [9]:
tup=(50,10,60,70,50,83,567,50,81)
tup.count(50)

3